.component {
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.644);
}

.title, .promoDescription {
  position: absolute;
  width: 100%;
}

.title {
  bottom: 40px;
}

.promoDescription {
  bottom: 10px;
}